.logo {
    height: 50px;
    width: 50px;
}

.welcome {
    font-size: 14pt;
    color: darkgray;
    float: left;
    padding: 12px;
}

.logo_not_logged_in {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.navbar {
    margin: 5px;
    height: 70px;
}

.reset {
    padding: 14px;
}

.login-form {
    padding-top: 20px;
}

.container-fluid {
    height: 50px;
    top: 50%;
    margin-top: -25px;
    position: relative;
}


.heading {
    font-size: 1.6em;
    font-weight: bold;
}


.shadow {
    -webkit-box-shadow: 3px 3px 28px -3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 3px 28px -3px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 28px -3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 0.3s;
}


.red {
    color: red;
}



.title-wrapper *{
    vertical-align: middle;
}

#id_img{
    display: inline-block;
    margin-left: 1.2em;

}

.description-wrapper *{
    vertical-align: middle;
}

.invform *{
    margin-top: 1.5em;
}

#id_description{
    width: 18em;
    height: 5em;
}