.logo {
    height: 50px;
    width: 50px;
}

.welcome {
    font-size: 14pt;
    color: darkgray;
    float: left;
    padding: 12px;
}

.logo_not_logged_in {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

.navbar {
    margin: 5px;
    height: 70px;
}

.reset {
    padding: 14px;
}

.login-form {
    padding-top: 20px;
}

.container-fluid {
    height: 50px;
    top: 50%;
    margin-top: -25px;
    position: relative;
}


.heading {
    font-size: 1.6em;
    font-weight: bold;
}


.shadow {
    -webkit-box-shadow: 3px 3px 28px -3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 3px 3px 28px -3px rgba(0, 0, 0, 0.1);
    box-shadow: 3px 3px 28px -3px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    transition: 0.3s;
}


.red {
    color: red;
}


.title-wrapper * {
    vertical-align: middle;
}

#id_img {
    display: inline-block;

}

.description-wrapper * {
    vertical-align: middle;
}

.invform * {
    margin-top: 1.5em;
}

#id_description {
    width: 18em;
    height: 5em;
}

.catform * {
    margin-top: 0.7em;
}

.btnwrapper {
    display: flex;
    align-items: center;
}

.newcatlink {
    margin-left: 2em;
}

.objecttable {
    border-collapse: collapse;
    width: 100%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.objecttable-data, .objecttable-head {
    border-bottom: 1px solid #dddddd;
    text-align: center;
    padding: 0.4em;
}

.objecttable-row:hover {
    background-color: #f8f8f8;
}

.cattable {
    border-collapse: collapse;
    width: 50%;
    margin: 2em auto 2em auto;
}

.cattable .leftalign {
    text-align: left;
}

.cattable .rightalign{
    text-align: right;
}

.lower-box {
    margin-top: 2em;
}

.celllink, .celllink:hover, .celllink:visited, .celllink:active {
    width: 100%;
    height: 100%;
    display: block;
    padding: 0.4em;
    text-decoration: none;
    color: #333333;
    cursor: default;
}

.alert {
    margin-top: 1em;
}

.nodisplay {
    display: none;
}

.delaleret {
    display: none;
}

.delbtn{
    margin-bottom: 1em !important;
}

.delcatbtn{
    margin-top: 0.5em !important;
    margin-bottom: 0.5em !important;
}

.nodec{
    list-style: none;
}

.registerformcontainer *{
    margin-top: 1em;
}

.registerformcontainer input{
    margin-left: 0.7em;
}

.nomarg{
    margin: 2em 0 0 0 !important;
}

.pwdinfo{
    border: 2px solid rgba(110, 110, 110, 0.28);
    width: 50%;
}