{% extends 'bases/navbar.html' %}
<html>
{% block content %}

    <body>
    <div class="container shadow">
        <div class="alert alert-danger alert-dismissible nodisplay" id="delalert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Kategorie wurde gelöscht.
        </div>
        <div class="alert alert-danger alert-dismissible nodisplay" id="abortalert">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            Abbruch.
        </div>
        <h3>Inventarisierte Objekte</h3>
        <form>
            {% csrf_token %}
            <table class="objecttable">
                <tr>
                    <th class="objecttable-head"><a href="./0">Name</a></th>
                    <th class="objecttable-head"><a href="./1">Anzahl</a></th>
                    <th class="objecttable-head"><a href="./2">Kategorie</a></th>
                    <th class="objecttable-head"><a href="./3">Inventarisierungsdatum</a></th>
                    <th class="objecttable-head"><a href="./4">Hinzugefügt von</a></th>
                </tr>
                {% for object in  objects %}
                    {% if object.removed_date is None %}
                        <tr class="objecttable-row">
                            <td class="objecttable-data">
                                <a class="celllink" href="./{{ object.uuid }}">{{ object.title }}</a>
                            </td>
                            <td class="objecttable-data">
                                <a class="celllink" href="./{{ object.uuid }}">{{ object.ammout }}</a>
                            </td>
                            {% if object.category is not None %}
                                <td class="objecttable-data">
                                    <a class="celllink" href="./{{ object.uuid }}">{{ object.category }}</a>
                                </td>
                            {% else %}
                                <td class="objecttable-data">
                                    <a class="celllink" href="./{{ object.uuid }}">-------</a>
                                </td>
                            {% endif %}
                            <td class="objecttable-data">
                                <a class="celllink" href="./{{ object.uuid }}">{{ object.inventarized_date }}</a>
                            </td>
                            <td class="objecttable-data">
                                <a class="celllink" href="./{{ object.uuid }}">{{ object.user_added }}</a>
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <p>{{ objammout }} Objekte insgesamt</p>
        </form>
    </div>
    <div class="container shadow lower-box">
        <h3>Kategorien</h3>
        <table class="cattable">
            <tr>
                <th class="objecttable-head leftalign">Kategorie</th>
                <th class="objecttable-head"></th>
            </tr>
            {% for category in  categories %}
                <tr class="objecttable-row">
                    <td class="objecttable-data leftalign">{{ category.name }}</td>
                    <td class="objecttable-data rightalign">
                        <button class="btn btn-danger delcatbtn" id="{{ category.id }}" onclick="delcat(this.id)">
                            löschen
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <p>{{ ncats }} Kategorien insgesamt</p>
    </div>
    <div class="container shadow lower-box">
        <h3>Gelöschte Objekte</h3>
        <table class="objecttable">
            <tr>
                <th class="objecttable-head"><a href="./0">Name</a></th>
                <th class="objecttable-head"><a href="./1">Anzahl</a></th>
                <th class="objecttable-head"><a href="./2">Kategorie</a></th>
                <th class="objecttable-head"><a href="./3">Löschungsdatum</a></th>
                <th class="objecttable-head"><a href="./4">Hinzugefügt von</a></th>
            </tr>
            {% for object in  objects %}
                {% if object.removed_date is not None %}
                    <tr class="objecttable-row">
                        <td class="objecttable-data">
                            <a class="celllink">{{ object.title }}</a>
                        </td>
                        <td class="objecttable-data">
                            <a class="celllink">{{ object.ammout }}</a>
                        </td>
                        {% if object.category is not None %}
                            <td class="objecttable-data">
                                <a class="celllink">{{ object.category }}</a>
                            </td>
                        {% else %}
                            <td class="objecttable-data">
                                <a class="celllink">-------</a>
                            </td>
                        {% endif %}
                        <td class="objecttable-data">
                            <a class="celllink">{{ object.removed_date }}</a>
                        </td>
                        <td class="objecttable-data">
                            <a class="celllink">{{ object.user_added }}</a>
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    </div>
    </body>
    <script>
        function delcat(id) {
            if (confirm('Möchten sie die Kategorie {{ category.name }} wirklich löschen?')) {

                var xhttp = new XMLHttpRequest();

                xhttp.onreadystatechange = function () {

                    if (this.readyState == 4 && this.status == 200) {
                        window.location.href = "./"
                        abox = document.getElementById('delalert');
                        abox.style.display = "block";
                    }

                };
                xhttp.open("GET", './' + id + '/delete/category', true);
                xhttp.send();


            } else {
                abox = document.getElementById('abortalert');
                abox.style.display = "block";
            }

        }

    </script>
{% endblock %}
</html>