{% extends 'bases/navbar.html' %}
<html>
{% block content%}

<body>
<div class="container shadow">
    <h1>Inventarium</h1>
    <p class="info">
      Dies ist der Inventarisierungsserver der Marienschule Krefeld geschrieben von Clemens Dautermann<br>
      im Rahmen einer Facharbeit im Fach Informatik. Sie können ihn nutzen um allerart von Objekten zu<br>
      inventarisieren, primär ist er jedoch zur Inventarisierung des Zubehörs des Chemieraums gedacht.<br>
    </p>
    <h3>Benutzung</h3>
    <p>Wie sie das Inventarisierungssystem benutzen erfahren sie im entsprechenden Abschnitt der Facharbeit.</p>

</div>
</body>
{% endblock %}

</html>
