{% extends 'bases/navbar.html' %}
<html>
{% block content %}
    <div class="container shadow">
        {% if message == 'PWD_CHANGE_SUCCESS' %}
            <div class="alert alert-success alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                Das Passwort wurde erfolgreich geändert
            </div>
        {% elif message == 'PWD_CHANGE_FALURE' %}
            <div class="alert alert-danger alert-dismissible">
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                Es ist ein Fehler aufgetreten. Wahrscheinlich haben sie das falsche Passwort eingegeben, das neue
                Passwort entspricht nicht den unten genannten Kriterien oder die zwei Passwörter stimmen nicht überein.
            </div>
        {% endif %}
        <h3>Passwort ändern</h3>
        <form method="post" action="{% url 'change_password' %}" class="registerformcontainer">
            {% csrf_token %}
            <div class="old_password-wrapper">
                {{ form.old_password.errors }}
                <label for="{{ form.old_password.id_for_lable }}">Aktuelles Passwort:</label>
                {{ form.old_password }}
            </div>
            <ul class="nodec pwdinfo">
                <li>Das Passwort darf nicht zu ähnlich zu Ihren anderen persönlichen Informationen sein.</li>
                <li>Das Passwort muss mindestens 8 Zeichen enthalten.</li>
                <li>Das Passwort darf nicht allgemein üblich sein.</li>
                <li>Das Passwort darf nicht komplett aus Ziffern bestehen.</li>
            </ul>
            <div class="new_password1-wrapper">
                {{ form.new_password1.errors }}
                <label for="{{ form.new_password1.id_for_lable }}">Neues Passwort:</label>
                {{ form.new_password1 }}
            </div>
            <div class="new_password2-wrapper">
                {{ form.new_password2.errors }}
                <label for="{{ form.new_password2.id_for_lable }}">Passwort bestätigen:</label>
                {{ form.new_password2 }}
            </div>
            <input type="submit" class="btn btn-success" value="Passwort ändern">
        </form>
    </div>

{% endblock %}
</html>